@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import './1.utils/normalize';
@import './1.utils/variables';
@import './1.utils/mixins';
@import './1.utils/functions';
@import './1.utils/placeholders';
@import './4.components/loader';
@import './4.components/button';
@import './4.components/card';
@import './4.components/meal-label';
@import './4.components/menu-form';
@import './4.components/new-banner';
@import './5.layout/nav-bar';
@import './5.layout/anchor';
@import './5.layout/restaurants';
@import './5.layout/instructions';
@import './5.layout/restaurant-photo';
@import './5.layout/menu';
@import './5.layout/footer';
@import './5.layout/restaurant-layout';





header {
    width: 100%;
}

body {
    background-color: rgb(246,246,246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
}

main {
    width: 100%;
}
