.menu-form {
    

    &__meal-select {
        @include flex-cntr(row);
        height: 100%;
        width: 0%;
        opacity: 0;
        visibility: hidden;
        background-color: rgb(131,232,210);
        transition: 0.5s width, 0.5s opacity, 0.2s visibility;
    }

    &__checkbox {
        color: white;
        font-size: 21px;
        transform-origin: center;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s opacity, 0.2s visibility;
    }

    &__checkbox-hidden {
        display: none;
    }

    &__meal-label:hover {

        .menu-form__meal {
            width: 80%;
        }

        .menu-form__meal-select {
            opacity: 1;
            width: 15%;
            visibility: visible;
        }

        .menu-form__checkbox {
            animation: rotate360 0.5s linear;
            opacity: 1;
            visibility: visible;
        }
    }
}