.menu-form {
    width: 89.6%;

   &__fieldset-container {
    width: 100%;
    height: auto;
    margin: 0;
    @include construction-line($element);
   }

   &__fieldset {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border-style: none;
        opacity: 0;
        @include construction-line($element);

        &:nth-child(1) {
            animation: 2s fade-in forwards;
        }

        &:nth-child(2) {
            animation: 2s fade-in forwards;
        }

        &:nth-child(3) {
            animation: 2s fade-in forwards;
        }
    }

    &__fieldset-title {
        font-weight: nth($font-weight, 1);
        font-size: nth($font-size, 4);
        margin-bottom: 1.5rem;
        width: 100%;
        @include construction-line($element);

        span {
            &:nth-child(1) {
                padding-bottom: 0.5%;
                border-bottom: 3px;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                border-style: solid;
                border-color: rgb(140, 233, 212);
            }
        }
    }

    

    &__meal-label {

        &:nth-child(1) {
            animation: 1s fade-in forwards;
            animation-delay: 0s;
        }

        &:nth-child(2) {
            animation: 1s fade-in forwards;
            animation-delay: 0.3s;
        }

        &:nth-child(3) {
            animation: 1s fade-in forwards;
            animation-delay: 0.6s;
        }

        &:nth-child(4) {
            animation: 1s fade-in forwards;
            animation-delay: 0.9s;
        }

        &:nth-child(5) {
            animation: 1s fade-in forwards;
            animation-delay: 1.2s;
        }

        &:nth-child(6) {
            animation: 1s fade-in forwards;
            animation-delay: 1.5s;
        }

        &:nth-child(7) {
            animation: 1s fade-in forwards;
            animation-delay: 1.8s;
        }

        &:nth-child(8) {
            animation: 1s fade-in forwards;
            animation-delay: 2.1s;
        }

        &:nth-child(9) {
            animation: 1s fade-in forwards;
            animation-delay: 2.4s;
        }

        &:nth-child(10) {
            animation: 1s fade-in forwards;
            animation-delay: 2.7s;
        }
    }

    

    &__order-btn {
        @include flex-cntr(row);
        width: 100%;
        margin: 0;
        padding: 50px 0;

        .button {
            width: 188px;
            border-color: lightgray;
            border-width: 1px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    @include breakpoint($tablet-breakpoint) {
        &__fieldset-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            max-width: 100%;
            gap: 3%;
        }
    }
}