.new-banner {
    position: absolute;
    top: 7.47%;
    right: 3.58%;
    height: 30px;
    width: 79px;
    background-color: rgb(131, 232, 210);
    color: rgb(0, 142, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 142, 104);
    border-radius: 5px;
}