.instructions {
    @include flex-cntr(column);
    padding-top: 3.25rem;
    padding-bottom: 4rem;
    background-color: rgb(255,255,255);

    &__heading {
        width: 89.6%;
    }

    &__list {
        list-style: none;
        padding: 0;
        width: 89.6%;
        @include flex-cntr($column);
        gap: 1.5rem;

        &--item{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            border-radius: 15px;
            width: 100%;
            background-color: rgb(246,246,246);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);

            &:nth-child(3) {
                background-color: rgb(247,235,255);
            }
        }

        &--item-number {
            @include flex-cntr(row);
            z-index: 500;
            position: absolute;
            left: -11px;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 30px;
            text-align: center;
            background: rgb(159,15,221);
            color: white;
        }

        &--item-icon {
            color: rgb(194,194,194);
            margin-left: 2.1rem;
            margin-right: 1.5rem;
        }

        &--item-instruction {
            font-size: nth($font-size, 4 );
        }
    }
}

.fa-store {
    color: rgb(163,45,222);
}