.menu {
    @include construction-line($block);
    @include flex-cntr(column);
    border-radius: 40px 40px 0 0;
    width: 100%;
    background-color: white;

    &__name {
        @include construction-line($element);
        @include flex-row-split-cntrd;
        padding-top: 40px;
        width: 89.6%;
    }

    &__restaurant-name {
        @include construction-line($element);
        margin: 0;
    }

    &__favourite-icon {
        @include construction-line($element);
        margin: 0;

        .heart-icon {
            color: transparent;
        }

        .heart-icon:hover {
            color: $button-color-primary;
            transition: color 0.3s;
        }
    }
}

