.menu {
    @include flex-cntr(column);
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 40px 40px 0 0;
    width: 100%;
    background-color: rgb(246,246,246);

    &__name {
        @include flex-row-split-cntrd;
        padding-top: 40px;
        width: 89.6%;
    }

    &__restaurant-name {
        margin: 0;
    }

    &__favourite-icon {
        margin: 0;

        .heart-icon {
            color: transparent;
        }

        .heart-icon:hover {
            color: $button-color-primary;
            transition: color 0.3s;
        }
    }
}

