.restaurant-photo {
    width: 100%;
    height: 280px;
    overflow: hidden;
    @include flex-cntr(column);
    position: relative;

    img {
        min-width: 50%;
        max-width: 100%;
        object-fit: fill;
    }
}