.restaurants {
    @include flex-cntr(column);
    width: 100%;
    padding-top: 59px;
    padding-bottom: 63px;
    background-color: rgb(246,246,246);
    position: relative;

    &__heading {
        width: 89.6%;
    }

    &__cards {
        width: 89.6%;
        height: fit-content;
        
        a {
            @include rmv-link-styles;
        }
    }

    @include breakpoint($desktop-breakpoint) {
        flex-direction: row-reverse;
        width: 100%;

        &__heading {
            width: 20%;
            text-align: center;
        }

        &__cards {
            width: 60%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2%;

            a {

                &:nth-child(1) {
                    width: 55%;
                }

                &:nth-child(2) {
                    width: 42%;
                }

                &:nth-child(3) {
                    width: 44%;
                }

                &:nth-child(4) {
                    width: 53%;
                }
            }
        }
    }

    @include breakpoint($tablet-breakpoint) {

        &__cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2%;

            a {

                &:nth-child(1) {
                    width: 49%;
                }

                &:nth-child(2) {
                    width: 49%;
                }

                &:nth-child(3) {
                    width: 49%;
                }

                &:nth-child(4) {
                    width: 49%;
                }
            }
        }
    }
}