@mixin construction-line ($rule) {
    border-color: $rule;
    border-style: solid;
    border-width: 1px;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-row-start-cntr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-cntr($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-split-cntrd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin rmv-link-styles {
    color: $primary-font-color;
    text-decoration: none;
}

@mixin btn-background {
    background: linear-gradient(to bottom, $button-color-primary, $button-color-secondary);
}


@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
