@mixin construction-line ($rule) {
    border-color: $rule;
    border-style: solid;
    border-width: 1px;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-row-start-cntr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-cntr($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-split-cntrd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin rmv-link-styles {
    color: $primary-font-color;
    text-decoration: none;
}

@mixin btn-background {
  background: linear-gradient(to bottom, $button-color-primary, $button-color-secondary);
}

@mixin breakpoint($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  from {transform: rotate(0turn)} 
  to {transform: rotate(1turn)}
}

@keyframes show {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes hide {
  from{opacity: 1}
  to {opacity: 0}
}

@keyframes display-none {
  from{display: block}
  to{display: none}
}
