$primary-color: red;
$secondary-color: green;
$primary-font-color: black;
$secondary-font-color: white;
$nav-location-color: rgb(234,234,234);
$button-color-primary: rgb(255, 76, 217);
$button-color-secondary: rgb(165, 47, 212);

$container: teal;
$block: purple;
$element: red;

$font-weight: 100 200 300 400 500 600 700 800 900;
$font-size: 0.5rem 1rem 1.5rem 2rem 2.5rem 3rem 3.5rem 4rem;

$mobile-breakpoints: 320px 480px 576px 768px;
$tablet-breakpoints: 768px 1024px 1280px;
$desktop-breakpoints: 1280px 1366px 1440px;

$transition-durations: 0.3s 0.6s 1s 2s 3s 5s;

$column: column;
$row: row;