$primary-color: red;
$secondary-color: green;
$primary-font-color: black;
$secondary-font-color: white;
$heading-font: "Shirkhand", 'Roboto', sans-serif;
$nav-location-color: rgb(234,234,234);
$button-color-primary: rgb(255, 76, 217);
$button-color-secondary: rgb(165, 47, 212);

$container: teal;
$block: purple;
$element: red;

$font-weight: 100 200 300 400 500 600 700 800 900;
$font-size: 0.5rem 0.75rem 1rem 1.25rem 1.5rem 1.75rem 2rem 2.25rem;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1000px;

$transition-durations: 0.3s 0.6s 1s 2s 3s 5s;

$column: column;
$row: row;